<!DOCTYPE html>
<html>

<head>
    <title>可喵大人の控制</title>
    <%- include('./head') %>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script src="/javascripts/checkLogin.js"></script>
</head>

<body>
    <main>
        <%- include('./menu') %>
    </main>
</body>

</html>